body {
	padding: 10px;
}

a {
	width: 200px;
}

.container1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.container2 {
	display: flex;
	justify-content: space-between;
}

.noteElement {
	border: 1px #ccc dotted;
	margin-bottom: 5px;
	padding: 5px;
}

.upperContainer {
	display: flex;
	flex-flow: row wrap;
}

.titleContainer {
	flex: 1 100%;
}

.due, .importance { 
	flex: 1 15%;
}

.importance {
	text-align: right;
}

.finished {
	font-weight: bold;
}

.desc textarea {
	width: 100%;
}

.info {
	line-height: 50px;
	min-height: 50px;
	margin-top: 10px;
	padding-left: 20px;
}


@media (min-width: 600px) {
	.due {
		flex: 0 150px;
		order: 1;
	} 

	.titleContainer {
		flex: 1 15%;
		order: 2;
	}

	.importance {
		order: 3;
	}
}


@media (max-width: 830px) {
	.container2 a {
		width: 100%;
	}

	.container2 {
		display: block;
	}
}

@media (min-width: 831px) {
	.importance {
		flex: 1 30%;
		padding-right: 200px;
	}

	.lowerContainer {
		display: flex;
		flex-flow: row wrap;
	}

	.finished, .btnEdit {
		flex: 0 150px;
	}

	.desc { 
		flex: 1 20%;
	}
}