button {
	width: 200px;
}

.container1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.container2 {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px) {
	.container2 button {
		width: 100%;
	}

	.container2 {
		display: block;
	}
}